{% extends "base.html" %}
{% block content %}
    <div class="card border-light mb-3" style="max-width: 30rem;vertical-align: middle;margin:0 auto;transform:translateY(10%);">
        <div class="card-header">使用者登入</div>
        <div class="card-body">
            {% if request.user.is_authenticated %}
                您已成功登入
            {% else %}
                <form action="" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <table border="0" align="center" cellpadding="4" cellspacing="1">
                        <tr>
                            <th align="right" valign="baseline">帳號</th>
                            <td valign="baseline">{{ post_form.username }}</td>
                        </tr>
                        <tr>
                            <th align="right" valign="baseline">密碼</th>
                            <td valign="baseline">{{ post_form.pd }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="baseline">{{ post_form.recaptcha }}</td>
                        </tr>
                        <tr>
                            <th colspan="2" align="center" valign="baseline">
                                <input class="btn btn-primary btn-sm" type="reset" name="button2" id="button2" value="重設">
                                <input class="btn btn-primary btn-sm" type="submit" name="button" id="button" value="送出">
                            </th>
                        </tr>
                    </table>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
